<div class="item">
  <div routerLink="/details/{{data.id}}">
    <img src="{{ data.image }}" alt="not work" />
  <div class="body">
    <h4>{{ data.title }}</h4>
    <p>{{ data.description }}</p>
  </div>
  </div>

  <div class="px-3 mb-2 d-flex justify-content-between align-item-center">
    <button type="button" class="btn btn-primary" *ngIf="!bool"(click)="bool=true">Add ot cart</button>
    <div class="d-flex  w-50" *ngIf="bool">
      <input type="number" class="form-control"[(ngModel)]="amount">
      <button class="btn btn-danger" (click)="getitem()">Add</button>
    </div>
    <span>{{ data.price }}</span>
  </div>
</div>
